<html>
<head>
  <title>Mon title</title>
  <link rel="stylesheet" href="css/postlist.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <div class="container-fluid">
        <div class="card-body d-flex justify-content-center align-items-center">

          <div class="card w-25 m-5">
            <label class="card-title text-center">Actus / Evenements</label>
            <button class="btn btn-primary" type="button"> Allez </button> 
          </div>

          <div class="card w-25 m-5">
            <label class="card-title text-center">Equipes</label>
            <button class="btn btn-warning" type="button"> Allez </button> 
          </div>

          <div class="card w-25 m-5">
            <label class="card-title text-center">Club</label>
            <button id='club' class="btn btn-success" type="button"> Allez </button> 
          </div> 

        </div>
    </div>
  </div>
  <script type="text/javascript" src="javascript/accueil.js" ></script>
</body>
</html>